<div class="row mt-5">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupStudent">
      <div class="mb-3">
        <div class="display-6 text-center">
          Cadastro de Estudantes
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Seu nome">
        <div *ngIf="submitted && name.invalid">
          <small class="text-danger">Nome inválido!</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="school_class" class="form-label">Turma:</label>
        <input type="text" formControlName="school_class" class="form-control" id="school_class" placeholder="Sua turma">
        <div *ngIf="submitted && school_class.invalid">
          <small class="text-danger">Turma inválido!</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="cpf" class="form-label">CPF:</label>
        <input type="number" formControlName="cpf" class="form-control" id="cpf" placeholder="Seu CPF">
        <div *ngIf="submitted && cpf.invalid">
          <small class="text-danger">CPF inválido!</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="semester" class="form-label">Semestre:</label>
        <input type="text" formControlName="semester" class="form-control" id="semester" placeholder="Seu semestre">
        <div *ngIf="submitted && semester.invalid">
          <small class="text-danger">Semestre inválido!</small>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-end gap-2">
        <button class="btn btn-success" (click)="save()">Salvar</button>
        <button class="btn btn-danger" (click)="clear()">Limpar</button>
      </div>
    </form>
  </div>
</div>
