<div class="row mt-4">
    <div class="col-8 m-auto">

      <form [formGroup]="formGroupEstudante">
        <div class="mb-3">
          <div class="display-6 text-center">
            Cadastro
          </div>
          <label for="name" class="form-label">Nome:</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Digite seu nome">
        </div>

        <div class="mb-3">
          <label for="idade" class="form-label">CPF:</label>
          <input type="number" formControlName="cpf" class="form-control" id="idade" placeholder="Digite seu CPF">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Semestre:</label>
          <input type="text" formControlName="semestre" class="form-control" id="email" placeholder="Digite seu semestre">
        </div>

        <div class="mb-3">
          <label for="numero" class="form-label">Turma:</label>
          <input type="text" formControlName="turma" class="form-control" id="numero"
            placeholder="Digite sua turma">
        </div>

        <div class="mb-3 d-flex justify-content-center">
          <button class="btn btn-primary me-2" (click)="save()">Salvar</button>
          <button class="btn btn-success me-2" (click)="exibir()" [textContent]="txtBtn"></button>
          <button class="btn btn-danger" (click)="clean()">Limpar</button>
        </div>

      </form>
    </div>
  </div>
