<app-estudantes-form [estudante]="estudante" (saveEvent)="onSaveEvent($event)" (exibirEvent)="onExibirEvent($event)"></app-estudantes-form>

<div class="row">
  <div class="col-10 m-auto">

    <table *ngIf="exibirBtn" id="table" class="table table-bordered border-dark">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">CPF</th>
          <th scope="col">Semestre</th>
          <th scope="col">Turma</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudantes of estudantes">
          <th scope="row">{{estudantes.id}}</th>
          <td>{{estudantes.name}}</td>
          <td>{{estudantes.cpf}}</td>
          <td>{{estudantes.semestre}}</td>
          <td>{{estudantes.turma}}</td>
          <td>
            <button class="btn btn-success me-1" (click)="edit(estudantes)">Editar</button>
            <button class="btn btn-danger" (click)="delete(estudantes)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
